// Adicionais para o projeto

html {
    font-size: 36px;
}

$theme-colors: (
    "azul-conselho": #0B12BD,
);

// Importe do bootstrap
@import "~bootstrap/scss/bootstrap.scss";

// Outros estilos globais

html * {
    box-sizing: border-box;
}

.header {
    // height: 60px;
    padding: 0px 12px;
    * {
        line-height: 10vh;
        font-family: 'Viga', sans-serif;
        color: white;
    }
}

.font-1rem {
    * {
        font-size: 1rem;
    }
    img {
        width: 52px;
    }
}

.link-pagina {
    margin-top: 26px;
    * {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
        margin-bottom: 14px;
        a {
            text-decoration: none;
            color: black;
            padding: 0px 24px 12px 0px;
            &:hover {
                color: #0B12BD;
                transition: all 0.4s;
            }
        }
    }

}

.link-pagina ul {
    padding: 0px 16px;
    font-size: 0.756rem;
}

.grid-principal {
    display: grid;
    grid-template-areas: "header header header header header header" "menu principal principal principal principal principal";
    grid-template-rows: minmax(0px, 10vh) minmax(90vh, max-content);
    grid-template-columns: [menu] 22vw;
}

.gridHeader { grid-area: header; }
.gridMenu { grid-area: menu; }
.gridPrincipal { grid-area: principal; padding: 26px 16px; }

.border-bottom-conselho {
    border-bottom: 1px solid black;
}

.border-right-conselho {
    border-right: 1px solid black;
}

.section-user {
    height: 100px;
    h1 {
        line-height: 100px;
        font-size: 1rem;
        color: black;
        text-align: center;
        font-weight: bold;
    }
}

.font-tomorrow {
    font-family: 'Tomorrow', sans-serif;
}
