.botao-voltar {
    display: block;
    padding: 0 10px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: #27A2DB;
    transition: all 0.4s;
    width: 126px;
    text-align: center;
    svg {
        margin-right: 10px;
    }
    &:hover {
        text-decoration: none;
        color: whitesmoke;
        background-color: #1d7ba7;
    }
}

.botao-salvar {
    display: block;
    padding: 0 10px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: #319303;
    transition: all 0.4s;
    width: 126px;
    text-align: center;
    &:hover {
        text-decoration: none;
        color: whitesmoke;
        background-color: #297c02;
    }
}
